<% include ../../partials/header %> 
<div class='orderpage panel panel-default' id='orderpage'>
    订单管理
    <table class='table' id=item-table>
        <th>商品</th><th>价格</th><th>数量</th><th>总价格</th>
    </table>
</div>
<style>
    .orderpage{
        margin: 0 20px 20px 20px;
    }
</style>