<% include ../partials/header %> 
<script src="../js/ajax.js" type='text/javascript'></script>
<div class='checkoutPage panel panel-default' id='checkoutPage'>
    <table class='table' id=item-table>
        <th>Product Name</th><th>Price</th><th>Quantity</th>
    </table>
</div>



<script>
    var checkoutitem = ajax('GET', 'getCart', false).items;
    showItem(checkoutitem);

    function showItem(items){
        
        for(var i=0;i<items.length;i++){
            document.getElementById('item-table').innerHTML += '<tr><td>'+ items[i].item.product_name + '</td><td>' + items[i].price + '</td><td>' + items[i].qty + '</td></tr>';
        }
    }

</script>
<style>
    .checkoutPage{
        height: 80%;
        margin: 0 20px;
    }
    .checkoutItem{
        margin: 0 10px;
        border: 1px;

    }
</style>