<link rel='stylesheet' type="text/css" href='stylesheets/login_register.css'>
<% include ../partials/header %> 
<div class='loginPage'>

    <form class='flex' action="/login" method="POST">
        <div class='inline-flex'>
            <h1>Login</h1>
            <input class='user-password' type="text" name="username" placeholder="username">
            <input class='user-password' type="password" name="password" placeholder="password">
            <button class='btn-submit'>Login</button>
            <a href='#'>Forget your password?</a>
        </div>
    </form>
    <div class="container">
        <li><a href="/register">Sign Up!</a></li>
        <li><a href="/login">Login!</a></li>
        <li><a href="/logout">Logout!</a></li>
    </div>
</div>
<% include ../partials/footer %> 