<% include ../partials/header %> 
<h1>This is the secret page!</h1>

<p>user information will shows here</p>


<div class="container">
    <li><a href="/register">Sign Up!</a></li>
    <li><a href="/login">Login!</a></li>
    <li><a href="/logout">Logout!</a></li>
</div>
<% include ../partials/footer %> 