<% include ../partials/header %> 
<script src=''></script>
<table id='product-table'>
    <th></th><!--用于显示图片-->
    <th>Item</th>
    <th>No</th>
    <th>Quantity</th>
    <th>Edit</th>
</table>

<script>
    // var itemlist = ajax(type, url, true);

</script>