<!DOCTYPE html>
<html>

<head>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

<body>

<form class="form-horizontal">
<fieldset>


<legend>PRODUCTS INFORMATION</legend>

<div class="form-group">
  <label class="col-md-4 control-label" for="supply_item_number">SUPPLY ITEM NUMBER</label>  
  <div class="col-md-4">
  <input id="supply_item_number" name="supply_item_number" placeholder="SUPPLY ITEM NUMBER" class="form-control input-md" required="" type="text">
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="product_name">PRODUCT NAME</label>  
  <div class="col-md-4">
  <input id="product_name" name="product_name" placeholder="PRODUCT NAME" class="form-control input-md" required="" type="text">
    
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="product_sell_price">PRODUCT SELL PRICE</label>  
  <div class="col-md-4">
  <input id="product_sell_price" name="product_sell_price" placeholder="product sell price" class="form-control input-md" required="" type="text">
    
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="product_cost_price">PRODUCT COST PRICE</label>  
  <div class="col-md-4">
  <input id="product_cost_price" name="product_cost_price" placeholder="product cost price" class="form-control input-md" required="" type="text">
    
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="product_name">PRODUCT NAME</label>  
  <div class="col-md-4">
  <input id="product_name" name="product_name" placeholder="PRODUCT NAME" class="form-control input-md" required="" type="text">
    
  </div>
</div>


<div class="form-group">
  <label class="col-md-4 control-label" for="product_name_fr">BAR CODE</label>  
  <div class="col-md-4">
  <input id="bar_code" name="bar_code" placeholder="BAR CODE" class="form-control input-md" required="" type="text">
    
  </div>
</div>


<div class="form-group">
  <label class="col-md-4 control-label" for="product_category">PRODUCT CATEGORY</label>
  <div class="col-md-4">
    <select id="product_category" name="product_category" class="form-control">
    </select>
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="quantity"> QUANTITY</label>  
  <div class="col-md-4">
  <input id="quantity" name="quantity" placeholder="QUANTITY" class="form-control input-md" required="" type="text">
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="product_weight">PRODUCT WEIGHT</label>  
  <div class="col-md-4">
  <input id="product_weight" name="product_weight" placeholder="PRODUCT WEIGHT" class="form-control input-md" required="" type="text">
    
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="product_description">PRODUCT DESCRIPTION</label>
  <div class="col-md-4">                     
    <textarea class="form-control" id="product_description" name="product_description"></textarea>
  </div>
</div>


<div class="form-group">
  <label class="col-md-4 control-label" for="return">RETURN</label>  
  <div class="col-md-4">
  <input id="return" name="return" placeholder="return" class="form-control input-md" required="" type="text">
    
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="supplier">SUPPLIER</label>  
  <div class="col-md-4">
  <input id="supplier" name="supplier" placeholder="supplier" class="form-control input-md" required="" type="text">
    
  </div>
</div>


<div class="form-group">
  <label class="col-md-4 control-label" for="percentage_discount">PERCENTAGE DISCOUNT</label>  
  <div class="col-md-4">
  <input id="percentage_discount" name="percentage_discount" placeholder="PERCENTAGE DISCOUNT" class="form-control input-md" required="" type="text">
    
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="demention">DEMENTION</label>  
  <div class="col-md-4">
  <input id="demention" name="demention" placeholder="demention" class="form-control input-md" required="" type="text">
    
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="color">COLOR</label>
  <div class="col-md-4">
    <input id="color" name="color" placeholder="color" class="form-control input-md" required="" type="text">
    
  </div>
</div>

<!-- Search input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="tutorial">BRAND</label>
  <div class="col-md-4">
    <input id="brand" name="brand" placeholder="brand" class="form-control input-md" required="" type="text">
    
  </div>
</div>
    
 <!-- File Button --> 
<div class="form-group">
  <label class="col-md-4 control-label" for="filebutton">main_image</label>
  <div class="col-md-4">
    <input id="filebutton" name="filebutton" class="input-file" type="file">
  </div>
</div>

<button type="submit" class="btn btn-primary">Submit</button>

</fieldset>
</form>
</body>
</html>

