<!doctype html>
<html>
	<head>
	<meta name='viewport' content="width=device-width, initial-scale=1"/>
	<link rel='stylesheet' type='text/css' href="http://fonts.googleapis.com/css?family=Lobster">
	<link rel="stylesheet" href="stylesheets/contactpage.css">
		<title>Contact Us</title>
	</head>
	<body>
		<% include partials/header %>
		<div class='header'>
			<img class='header-img' src='images/Contactimg.jpg'>
			<p class='header-title'>Contact Us</p>
		</div>
		<div class='flex'>
			<h1 class='form-head'>Form</h1>
			<div class='inline-flex-all'>
				<div class='inline-flex'>
					<div class='flex2'>
						<img class='form-icon' src='images/location-icon.png'>
						<p>123123</p>
					</div>
					<div class='flex2'>
						<img class='form-icon' src='images/phone-icon.png'>
						<p>1123</p>
					</div>
					<div class='flex2'>
						<img class='form-icon' src='images/email-icon.png'>
						<p>1123</p>
					</div>
				</div>
				<h2>Send Us Message</h2>
				<div class='form-bottom'>
					<input class='message' placeholder='Name'/>
					<input class='message' placeholder='Email'/>
					<input class='message' placeholder='Subject'/>
					<textarea class='message' placeholder='Message' rows='8'></textarea>
					<div class='submitbtn'>
						<button class='message' name='Submit'>Submit</button>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
