

<div id="page" class="container1">
  <div id="content">
    <form id="form-account-create" action="/customer/account/create/" method="post" class="ng-pristine ng-valid">
      <input type="hidden" value="ca4efcd09fcd91f7f3423c3ab67d83cccecc9d47" name="YII_CSRF_TOKEN" autocomplete="off"><div id="account-create">
        <div class="row">
          <div class="columns">
            <h1>Create an account</h1>
            <p>Please fill in the form below:</p>
          </div>
        </div>
        <div class="row">
          <div class="columns small-12 medium-6">
            <label for="RegistrationForm_first_name" class="required">First name <span class="required">*</span></label> <input placeholder="Enter your first name" class="" tabindex="1" data-ng-non-bindable="" name="RegistrationForm[first_name]" id="RegistrationForm_first_name" type="text" maxlength="50"> </div>
            <div class="columns small-12 medium-6">
              <label for="RegistrationForm_last_name" class="required">Last name <span class="required">*</span></label> <input placeholder="Enter your last name" class="" tabindex="2" data-ng-non-bindable="" name="RegistrationForm[last_name]" id="RegistrationForm_last_name" type="text" maxlength="50"> </div>
            </div>
            <div class="row">
              <div class="columns small-12 medium-6">
                <label for="RegistrationForm_gender" class="required">Gender <span class="required">*</span></label> <select tabindex="3" class="select-fullwidth" name="RegistrationForm[gender]" id="RegistrationForm_gender">
                  <option value="" selected="selected">Please select</option>
                  <option value="male">Male</option>
                  <option value="female">Female</option>
                </select> </div>
                <div class="columns small-12 medium-6">
                  <div class="control-group" id="dobs">
                    <label>Birthday <sup>Optional</sup></label>
                    <div class="row">
                      <div class="columns small-3">
                        <input maxlength="2" autocomplete="off" class="" placeholder="dd" tabindex="4" data-ng-non-bindable="" name="RegistrationForm[day]" id="RegistrationForm_day" type="text"> </div>
                        <div class="columns small-3 collapse-left">
                          <input maxlength="2" autocomplete="off" class="" placeholder="mm" tabindex="5" data-ng-non-bindable="" name="RegistrationForm[month]" id="RegistrationForm_month" type="text"> </div>
                          <div class="columns small-4 collapse-left end">
                            <input maxlength="4" autocomplete="off" class="" placeholder="yyyy" tabindex="6" data-ng-non-bindable="" name="RegistrationForm[year]" id="RegistrationForm_year" type="text"> </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="columns small-12 medium-6">
                        <label for="RegistrationForm_email" class="required">Email address <span class="required">*</span></label> <input placeholder="Enter your email address" class="" tabindex="7" data-ng-non-bindable="" name="RegistrationForm[email]" id="RegistrationForm_email" type="text"> </div>
                        <div class="columns small-12 medium-6">
                          <label for="RegistrationForm_password" class="required">Password <span class="required">*</span></label>
                          <input placeholder="Create a Password" class="" tabindex="8" data-ng-init="passwordInputType='password'" name="RegistrationForm[password]" id="RegistrationForm_password" type="password" maxlength="50">
                          <input type="checkbox" id="reveal_password" data-ng-click="passwordInputType = {'password': 'text', 'text': 'password'}[passwordInputType]">
                          <label for="reveal_password"><em class="mlm">Show password </em></label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="columns small-12 medium-6 newsletter-options">
                          <p>
                            <label for="RegistrationForm_newsletter">I want to receive offers by e-mail</label>
                            <small data-ng-show="customer.is_newsletter_subscribed == 'never-subscribed' &amp;&amp; customer.is_raf_program_user === false">
                              Yes, sign me up for THE ICONIC News and get a <strong>$20 voucher</strong> for your next purchase.<br>You'll receive sales alerts, exclusive offers and the latest on styles &amp; trends.
                            </small>
                            <small data-ng-show="customer.is_newsletter_subscribed != 'never-subscribed' || customer.is_raf_program_user" class="ng-hide">
                              Yes, sign me up for THE ICONIC News.<br>You'll receive sales alerts, exclusive offers and the latest on styles &amp; trends.
                            </small>
                            <br>
                            <input id="ytRegistrationForm_newsletter" type="hidden" value="" name="RegistrationForm[newsletter]" autocomplete="off"><span id="RegistrationForm_newsletter"><input style="" tabindex="9" id="RegistrationForm_newsletter_0" value="female" type="radio" name="RegistrationForm[newsletter]"> <label class="newsletter-options" for="RegistrationForm_newsletter_0">Women</label> <input style="" tabindex="9" id="RegistrationForm_newsletter_1" value="male" type="radio" name="RegistrationForm[newsletter]"> <label class="newsletter-options" for="RegistrationForm_newsletter_1">Men</label> <input style="" tabindex="9" id="RegistrationForm_newsletter_2" value="no" type="radio" name="RegistrationForm[newsletter]"> <label class="newsletter-options" for="RegistrationForm_newsletter_2">No</label></span> </p>
                          </div>
                        </div>
                        <div class="row">
                          <div class="small-12 medium-6 large-3 columns">
                            <input class="button primary action expand sel-new-account-submit-button" id="send" title="Submit" data-storage="false" type="submit" name="yt0" value="Create My Account"> </div>
                          </div>
                          <div class="row">
                            <div class="columns small-12 medium-6">
                              <input id="ytRegistrationForm_remember_me" type="hidden" value="0" name="RegistrationForm[remember_me]" autocomplete="off"><input value="1" title="Remember Me" checked="checked" class="secondary" name="RegistrationForm[remember_me]" id="RegistrationForm_remember_me" type="checkbox"> <label for="RegistrationForm_remember_me"><em class="mlm">Keep me logged in</em></label>
                            </div>
                          </div>
                        </div>
                      </form>

                    </div>
                    </div>
                    <a href="/customer/account/login" class="btn default">Back to Login</a>
