<% include partials/header %>
<div id="page" class="container1">
  <div id="content">
    <div id="login-page">
      <div class="row">
        <div class="columns">
          <h1>Login</h1>
        </div>
      </div>
      <div class="row">
        <div class="columns small-12 medium-6">
          <form id="form-account-login" action="/customer/account/login/" method="post" class="ng-pristine ng-valid">
            <input type="hidden" value="01cba09accdf3764c0e8a5cfa7a9e81da7f0dbaa" name="YII_CSRF_TOKEN" autocomplete="off"> <div class="row">
              <div class="columns small-12 xlarge-6">
                <label for="LoginForm_email" class="required">Email Address <span class="required">*</span></label> <input autofocus="autofocus" placeholder="Enter your email address" class="input-max-width" autocomplete="off" data-ti-prevent-zoom="" name="LoginForm[email]" id="LoginForm_email" type="text"> </div>
                <div class="columns small-12 xlarge-6">
                  <label for="LoginForm_password" class="required">Password <span class="required">*</span></label> <input placeholder="Enter your password" class="input-max-width  ClickTaleSensitive" autocomplete="off" data-ti-prevent-zoom="" name="LoginForm[password]" id="LoginForm_password" type="password" maxlength="50"> </div>
                </div>
                <div class="row">
                  <div class="columns small-12 xlarge-6">
                    <input id="ytremember" type="hidden" value="0" name="LoginForm[remember]" autocomplete="off"><input checked="checked" id="remember" name="LoginForm[remember]" value="1" type="checkbox"> <label id="remember-label" for="remember">Keep Me Logged In</label> </div>
                    <div class="columns small-12 xlarge-6">
                      <button type="submit" class="large primary action expand" title="Login" name="send" value="Login" id="LoginForm_submit">
                        Login
                      </button>
                      <p class="text-center">
                        <small>
                          <a class="decorated" href="https://www.theiconic.com.au/customer/account/forgotpassword/">
                            Forgot your password?
                          </a>
                        </small>
                      </p>
                    </div>
                  </div>
                </form> </div>
                <div class="medium-6 xlarge-offset-2 xlarge-4 end columns">
                  <div class="show-for-medium-up">
                    <h4>Not yet registered?</h4>
                    <p>You can speed up the checkout, register various delivery addresses, and track your orders!</p>
                  </div>
                  <a href="signup" class="button large secondary action expand">
                    Create new account
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
<% include partials/footer %>
