<% include ./partials/header %> 
<link rel="stylesheet" href="//apps.bdimg.com/libs/jqueryui/1.10.4/css/jquery-ui.min.css">
<script src="//apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//apps.bdimg.com/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>


<!-- dialog对话框 邮寄地址表单显示 -->
<div class='dialog-form' id='dialog-form' title='dialog名字'>
    <form><fieldset>
        <label>Name</label>
        <input type="text" class='dialogInput' name='name' id='name' onblur="checkValue(name, value)">
        <label>Address</label>
        <input type="text" class='dialogInput' name='address' id='address' onblur="checkValue(name, value)">
        <label>Phone</label>
        <input type="text" class='dialogInput' name='phone' id='phone' oninput="value=value.replace(/[^0-9]/g,'')" onblur="checkValue(name, value)">
    </fieldset></form>
</div>


<div class='addresslist ui-widget' id='addresslist'>
    <table id='addresstable' class='addresstable ui-widget ui-widget-content'>
        <thead>
            <tr class='ui-widget-header'>
                <th class='addresstableth'>Name</th>
                <th class='addresstableth'>Address</th>
                <th class='addresstableth'>Phone</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class='addresstabletd'>1</td>
                <td class='addresstabletd'>2</td>
                <td class='addresstabletd'>3</td>
            </tr>
        </tbody>
    </table>
</div>


<div><button id='create-address'>测试</button></div>



<script>
    var addressList = '';

    $("#create-address").button().click(function(){
        $("#dialog-form").dialog('open');
    });

    $(function(){
        $('#dialog-form').dialog({
            autoOpen:false,
            height: 300,//表单高度
            width: 350,//表单长度
            modal:true,
            buttons: {
                //用于确认邮箱地址添加并关闭dialog
                "确认": function(){

                    $(this).dialog('close');
                },
                //取消所有更改并关闭dialog
                'Cancel': function(){
                    $(this).dialog('close');
                }
            },
            close: function(){

            }
        });
    });

    function checkValue(obj, value){
        console.log(obj);
        console.log(value);
        var newElement = '';
        var target;
        var reg='';
        //验证名字
        if(obj == 'name'){
            reg = /^[a-zA-Z\s*]{4,16}$/;
            if(value == '' || reg.test(value) == false )
            {
                newElement = "<p class='dialog-p'>Name cannot be null</p>";
                target = document.getElementById(obj);
                insertAfter(newElement,target);
            }
        }
        //验证地址
        if(obj == 'address'){

        }
        //验证电话
        if(obj == 'phone'){

        }
    }

    function insertAfter(newElement, target){
        console.log(newElement);
        console.log(target);
        var parent = target.parentNode;
        if(parent.lastChild == target)
            parent.appendChild(newElement);
        else
            parent.insertBefore(newElement, target.nextSibling);
    }

    // var xmlhttp = new XMLHttpRequest();
    // var url;
    // var type = 'POST';
    // xmlhttp.open(type, url, true);
    // xmlhttp.send();

    // xmlhttp.onreadystatechange=function(){
    //     if(xmlhttp.readyState == 4 && xmlhttp.status == 200){
    //         addressList = xmlhttp.response;
    //     }
    // }

    // addressList.forEach(element => {
    //     document.getElementById('addresslist').innerHTML = '<div><span>'+ element.name + '</span><span>' + element.address + '</span><span>' + element.phone + '</span></div>';
    // });
</script>

<style>
    fieldset{
        border: 0;
    }
    .dialog-form{
        min-width: 100%;
        max-width: 100%;
        min-height: 100%;
        max-height: 100%;
    }
    .dialogInput{
        display: block;
        width: 100%;
        padding: 2px 5px;
        margin-bottom: 10px;
    }

    .dialog-p{
        display: block;
    }
    
    .ui-dialog{
        padding: 0;

    }
    .ui-widget-header {
        background: 0;
        background-color: lightblue;
    }
    .addresslist{
        width: 100%; 
        margin: 20px 0; 
        padding: 0px 30px;
    }
    .addresstable{
        border-collapse: collapse; 
        width: 100%; 
    }


    .addresstableth, .addresstabletd{
        border: 2px solid #eee; 
        padding: 5px; 
        text-align: left; 
    }
</style>