<% include ./partials/header %> 
<link rel="stylesheet" href="//apps.bdimg.com/libs/jqueryui/1.10.4/css/jquery-ui.min.css">
<script src="//apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//apps.bdimg.com/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
<script src="../js/ajax.js" type='text/javascript'></script>

<!-- dialog对话框 邮寄地址表单显示 -->
<div class='dialog-form' id='dialog-form' title='dialog名字'>
    <form><fieldset id='field'>
        <label>Name</label>
        <input type="text" class='dialogInput' name='name' id='name'>
        <label>Address</label>
        <input type="text" class='dialogInput' name='address' id='address'>
        <label>Phone</label>
        <input type="text" class='dialogInput' name='phone' id='phone'>
    </fieldset></form>
</div>


<div class='addresslist ui-widget' id='addresslist'>
    <table id='addresstable' class='addresstable ui-widget ui-widget-content'>
        <thead>
            <tr class='ui-widget-header'>
                <th class='addresstableth'>Name</th>
                <th class='addresstableth'>Address</th>
                <th class='addresstableth'>Phone</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class='addresstabletd'>1</td>
                <td class='addresstabletd'>2</td>
                <td class='addresstabletd'>3</td>
            </tr>
        </tbody>
    </table>
</div>


<div><button id='create-address'>测试</button></div>



<script>
    var nameInput = false;
    var addressInput = false;
    var phoneInput = false;
    var addressList;

    $(function(){
        $("#create-address").button().click(function(){
            $("#dialog-form").dialog('open');
        });
        $('#dialog-form').dialog({
            autoOpen:false,
            height: 300,//表单高度
            width: 350,//表单长度
            modal:true,
            buttons: {
                //用于确认邮箱地址添加并关闭dialog
                "确认": function(){
                    if(nameInput == true && addressInput == true && phoneInput == true){
                        var response = ajax(type, url, true);
                        $(this).dialog('close');
                    }
                },
                //取消所有更改并关闭dialog
                'Cancel': function(){
                    $(this).dialog('close');
                }
            },
            close: function(){

            }
        });

        //检验名字
        $('#name').on('blur', function(){
            var reg = /^[a-zA-Z\s*]{4,16}$/;
            if($('#nameError').length == 0){
                if(reg.test($('#name').val()) == false)
                    $('<p id="nameError" style="display: block; color:red;">Only allow word input, Word Count of Name must within 4 and 16 </p>').insertBefore('#name')
            }
            else if(reg.test($('#name').val()) == true){
                $('p').remove('#nameError');
                nameInput = true;
            }   
        });

        //检验地址(待修改)
        $('#address').on('blur', function(){
            var reg = /^[a-zA-Z\d\s*]{10,40}$/;
            if($('#addressError').length == 0){
                if(reg.test($('#address').val()) == false)
                    $('<p id="addressError" style="display: block; color:red;">Address must include number and word, Word Count of Address must within 10 and 40. </p>').insertBefore('#address');
            }
            else if(reg.test($('#address').val()) == true){
                $('p').remove('#addressError');
                addressInput = true;
            }   
        });

        //检验电话
        $('#phone').on('blur', function(){
            var reg = /^0\d{8,10}$/;
            if($('#phoneError').length == 0){
                if(reg.test($('#phone').val()) == false)
                    $('<p id="phoneError" style="display: block; color:red;">Only allow number input, Count of phone number must within 9 and 11 and start with 0. </p>').insertBefore('#phone')
            }
            else if(reg.test($('#phone').val()) == true){
                $('p').remove('#phoneError');
                phoneInput = true;
            }   
        });
    });

    


    // var xmlhttp = new XMLHttpRequest();
    // var url;
    // var type = 'POST';
    // xmlhttp.open(type, url, true);
    // xmlhttp.send();

    // xmlhttp.onreadystatechange=function(){
    //     if(xmlhttp.readyState == 4 && xmlhttp.status == 200){
    //         addressList = xmlhttp.response;
    //     }
    // }

    // addressList.forEach(element => {
    //     document.getElementById('addresslist').innerHTML = '<div><span>'+ element.name + '</span><span>' + element.address + '</span><span>' + element.phone + '</span></div>';
    // });
</script>

<style>
    fieldset{
        border: 0;
    }
    .dialog-form{
        min-width: 100%;
        max-width: 100%;
        min-height: 100%;
        max-height: 100%;
    }
    .dialogInput{
        display: block;
        width: 100%;
        padding: 2px 5px;
        margin-bottom: 10px;
    }

    .dialog-p{
        display: block;
    }
    
    .ui-dialog{
        padding: 0;

    }
    .ui-widget-header {
        background: 0;
        background-color: lightblue;
    }
    .addresslist{
        width: 100%; 
        margin: 20px 0; 
        padding: 0px 30px;
    }
    .addresstable{
        border-collapse: collapse; 
        width: 100%; 
    }


    .addresstableth, .addresstabletd{
        border: 2px solid #eee; 
        padding: 5px; 
        text-align: left; 
    }
</style>